
.intro-wrapper{
  position: relative;
  padding-top: calc(70px + (140 - 70)*((100vw - 320px)/(1920 - 320)));
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap: calc(150px + (440 - 150)*((100vw - 320px)/(1920 - 320)));
  margin-bottom: calc(70px + (140 - 70)*((100vw - 320px)/(1920 - 320)));

  @include vp-1279 {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-column-gap: 0;
    grid-row-gap: 355px;
  }

  @include vp-767 {
    grid-row-gap: 270px;
  }

  h1 {
    font-size: calc(48px + (96 - 48)*((100vw - 320px)/(1920 - 320)));
    line-height: calc(50px + (96 - 50)*((100vw - 320px)/(1920 - 320)));
    font-weight: 500;
    margin: 0;

    span {
      color: $main-blue;
    }

    @include vp-1279 {
      text-align: center;
    }

    :after {
      position: absolute;
      content: "";

      border-radius: 50%;
      background: radial-gradient(circle,rgba(79,112,248,.5) -64%,rgba(255,255,255,0) 57%);
      left: -456px;

      transform: scale(1.2) skew(45deg, 10deg) rotate(14deg);
      width: 1403px;
      height: 937px;
      top: -22px;
      z-index: -1;

    }
  }


}

.intro {
  padding-top: calc(0px + (156 - 0)*((100vw - 320px)/(1920 - 320)));

  @include vp-767 {
    text-align: center;
  }
  :after {
    position: absolute;
    content: "";
    width: 886px;
    height: 801px;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(79,112,248,.2) -21%,rgba(255,255,255,0) 64%);
    top: 163px;
    right: -498px;
    transform: scale(1.5);
    @include vp-1279 {
      top: 722px;
    }

    @include vp-767 {
      top: 827px;
    }
  }

  @include vp-1279 {
    max-width: 550px;
    padding-top: 0;
    align-items: center;
    display:flex;
    flex-direction: column;
  }

  p{
    color: rgba($clean-white, 0.5);
    font-size: calc(20px + (32 - 20)*((100vw - 320px)/(1920 - 320)));
    font-style: normal;
    font-weight: 500;
    line-height: calc(26px + (32 - 26)*((100vw - 320px)/(1920 - 320)));
  }
}

.intro-blog {
  @include vp-1279{
    max-width: 700px;
  }
  h2 {
    text-transform: uppercase;
    font-size:  calc(32px + (40 - 32)*((100vw - 320px)/(1920 - 320)));
    text-align: center;
    font-weight: 600;
    line-height: 40px;
  }
}

.intro-blog__wrapper {
  border-radius: 100px;
  border: 3px solid $main-blue;
  background: rgba($clean-white, 0.12);
  backdrop-filter: blur(10px);
  height: 595px;
  padding: 24px 24px 0 24px;
  overflow-y: hidden;

  @include vp-1279 {
    padding-top: 54px;
  }
  @include vp-767 {
    border-radius: 50px;
    padding: 0 6px 0 10px;
    max-width: 500px;
  }
}

.intro-blog__list {
  overflow-y: auto;

  scroll-behavior: smooth;
  height: 100%;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    margin-top: 50px;
    border-radius: 10px;
    @include vp-767 {
      width: 6px;
    }

  }
  &::-webkit-scrollbar-thumb {
    background: $main-blue;
    border-radius: 10px;

  }
  &::-webkit-scrollbar-track {
    margin-top: 60px;
    margin-bottom: 100px;

    background-color: rgba($clean-white, 0.12);
    border-radius: 10px;

  }


}

.intro-blog__item {
  font-size: calc(15px + (24 - 16)*((100vw - 320px)/(1920 - 320)));

  font-weight: 400;
  line-height: calc(20px + (28 - 20)*((100vw - 320px)/(1920 - 320)));

  background: $main-deep-blue;
  padding: 16px calc(30px + (64 - 30)*((100vw - 320px)/(1920 - 320)));
  margin-right: 20px;
  border-radius: 196px;
  margin-bottom: 16px;
  p{
    margin-bottom: 6px;
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }

  &:hover {
    background: $main-blue;
  }

  time {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    color: rgba($clean-white, 0.6);
  }

  @include vp-767 {
    border-radius: 40px;
    margin-right: 6px;
    &:first-child{
      margin-top: 10px;
    }

  }
}
