.login-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include vp-576 {
    display: inline-block;

  }
}

.login-item {
  margin-left: 14px;

  &:first-child {
    margin-left: 0;
  }
}

.login-nav {
  padding-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  .login-item{
    margin-left: 0;
  }
}
